In [1]:
import os
import re

import pandas as pd

In [2]:
# s = "bittrex_ADA-USD_163300320.csv"
# pattern = "_(.*?)-"

# substring = re.search(pattern, s).group(1)
# print(substring)

In [3]:
def strip_ticker(filename):
    pattern = "_(.*?)-"
    return re.search(pattern, filename).group(1)
    
def strip_exchange(filename):
    pattern = "(.*?)_"
    return re.search(pattern, filename).group(1)

In [4]:
def concat_csv(path):
    
    columns = ["Date", "Open", "High", "Low", "Close", "Volume", "Ticker"]
    df = pd.DataFrame(columns=columns)
    
    for filename in os.listdir(path):
        if ".csv" in filename:
            ticker = strip_ticker(filename)
            exchange = strip_exchange(filename)
            df_temp = pd.read_csv(f"{path}/{filename}")
            df_temp["Ticker"] = ticker
            df_temp["Exchange"] = exchange
            df = pd.concat([df, df_temp])
#             df["Date"] = pd.to_datetime(df["Date"], unit='s')

    return df

In [8]:
def save_ticker(df, path):

    unique_tickers = df["Ticker"].unique()
    
    for ticker in unique_tickers:
        
        df_unique = df[df['Ticker'] == ticker]
        df_dedup = df_unique.drop_duplicates(subset = ["Date"])
        df_dedup["Date"] = pd.to_datetime(df_dedup["Date"], unit='ms')
        
        filename = f"{ticker}-USD.csv"
        df_dedup.to_csv(f"{path}/{filename}", index=False)

In [6]:
path_api_data = "data/request_1h"
path_save_data = "data/one_hour"

df = concat_csv(path_api_data)
df

,Date,Open,High,Low,Close,Volume,Ticker,Exchange
0,1608872400000,0.2000,3.0885,0.2000,2.5826,1.312513e+07,1INCH,binance
1,1608876000000,2.5824,2.6900,2.2249,2.5059,9.270673e+06,1INCH,binance
2,1608879600000,2.5152,2.8870,2.3609,2.6237,7.923761e+06,1INCH,binance
3,1608883200000,2.6318,2.8247,2.4650,2.6134,6.625565e+06,1INCH,binance
4,1608886800000,2.6104,2.7498,2.5629,2.6365,3.739133e+06,1INCH,binance
...,...,...,...,...,...,...,...,...
95,1612216800000,0.3901,0.3935,0.3600,0.3889,1.900175e+07,XRP,okex
96,1612220400000,0.3887,0.3987,0.3685,0.3712,1.808072e+07,XRP,okex
97,1612224000000,0.3711,0.3777,0.3446,0.3596,2.679891e+07,XRP,okex
98,1612227600000,0.3597,0.3635,0.3402,0.3502,2.369902e+07,XRP,okex
99,1612231200000,0.3505,0.3946,0.3471,0.3913,2.442919e+07,XRP,okex

In [9]:
save_ticker(df, path_save_data)

C:\Users\srema\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [10]:
ada_df = df[df['Ticker'] == "ADA"]

ada_df

,Date,Open,High,Low,Close,Volume,Ticker,Exchange
0,1605103200000,0.10751,0.10834,0.10736,0.10815,8.603794e+06,ADA,binance
1,1605106800000,0.10815,0.10887,0.10792,0.10813,1.032333e+07,ADA,binance
2,1605110400000,0.10810,0.10890,0.10778,0.10881,2.315515e+07,ADA,binance
3,1605114000000,0.10875,0.10885,0.10755,0.10813,1.368812e+07,ADA,binance
4,1605117600000,0.10811,0.10823,0.10740,0.10764,9.902440e+06,ADA,binance
...,...,...,...,...,...,...,...,...
95,1619344800000,1.11219,1.11864,1.10261,1.10847,3.992657e+05,ADA,okex
96,1619348400000,1.10879,1.11749,1.10616,1.11648,1.459235e+05,ADA,okex
97,1619352000000,1.11588,1.12685,1.11588,1.12473,4.379184e+05,ADA,okex
98,1619355600000,1.12487,1.12857,1.11825,1.12141,2.936612e+05,ADA,okex
99,1619359200000,1.12141,1.13800,1.11930,1.13268,4.354179e+05,ADA,okex

In [11]:
ada_unique_df = ada_df.drop_duplicates(subset = ["Date"])
ada_unique_df

,Date,Open,High,Low,Close,Volume,Ticker,Exchange
0,1605103200000,0.10751,0.10834,0.10736,0.10815,8.603794e+06,ADA,binance
1,1605106800000,0.10815,0.10887,0.10792,0.10813,1.032333e+07,ADA,binance
2,1605110400000,0.10810,0.10890,0.10778,0.10881,2.315515e+07,ADA,binance
3,1605114000000,0.10875,0.10885,0.10755,0.10813,1.368812e+07,ADA,binance
4,1605117600000,0.10811,0.10823,0.10740,0.10764,9.902440e+06,ADA,binance
...,...,...,...,...,...,...,...,...
94,1617559200000,1.18850,1.19319,1.18613,1.18863,1.799096e+05,ADA,okex
95,1617562800000,1.18777,1.18870,1.17846,1.18050,1.209253e+05,ADA,okex
96,1617566400000,1.18024,1.18200,1.17604,1.17968,1.558247e+05,ADA,okex
97,1617570000000,1.17932,1.18094,1.17693,1.17982,2.518527e+05,ADA,okex
98,1617573600000,1.17956,1.18100,1.17724,1.17940,1.981578e+05,ADA,okex